

body{
    margin: 0;
    background-color: #3498db;
}

h1{
    text-align: center;
    color: white;
    text-decoration: underline;
    font-weight: bolder;
    text-transform: uppercase;
}

#main-container{
    display: flex;    
    border: 2px solid black;
    width: 400px;
    height: auto;
    margin: 10px auto;
    border-radius: 5px;
}

#container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.row{
    display: flex;
}

.row #screen{
    width: 98%;
    height: 60px;
    font-size: 28px;
    border: 2px solid black;
    text-align: right;
}

.row #record{
    width: 98%;
    height: 30px;
    font-size: 18px;
    border: 2px solid black;
    text-align: right;
    background-color: black;
    color: white;
}

#col-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: space-evenly;
    width: 70%;
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: steelblue;
    border: 2px solid black;
}

#col-1 .btn{
    width: 60px;
    height: 50px;
    border: 1px solid black;
    background-color: lightgray;
    border-radius: 5px;
    margin: 10px;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

#col-1 #ans{
    background-color: rgb(25, 206, 25);
    color: white;
    font-size: 30px;
}


#col-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;    
    width: 30%;
    padding-top: 11px;
    padding-bottom: 11px;
    background-color:cadetblue ;
    border: 1px solid black;
}

#col-2 .btnop{
    width: 60px;
    height: 40px;
    border: 1px solid black;
    background-color: darkcyan;
    border-radius: 5px;
    color: white;
    font-size: 20px;
}
